---
layout: page
title: About Us - Fraction ERP
description: About the team and our story at Fraction ERP
keywords: "fraction erp, cloud erp, manufacturing erp, manufacturing mrp"
---

<!-- ======= Mission Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Mission</h2>
    </div>

    <div class="col-md-8 offset-md-2 mb-5 text-center">
      <p>
        <h5>
          To put low cost and simple ERP into the hands of every manufacturing SME at a time when they are fed up of
          broken spreadsheets, whiteboards and paper based systems.
        </h5>
      </p>
    </div>
  </div>
</section>

{% include team.html title="Our Team" description="Founded by three engineers passionate about manufacturing, cloud technologies and workflow design. Fraction ERP started its life as a internally developed production management tool to overcome the weaknesses of the ERP at a precision engineering company. The outstanding success of the tool led to the development of a full ERP system, specifically designed for small to medium sized engineering companies." %}

{% include testimonial.html quote=site.data.testimonials[2].quote name=site.data.testimonials[2].name title=site.data.testimonials[2].title %}

<!-- ======= Why Fraction ERP Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Fraction ERP?</h2>
      <p>Fraction ERP is built for small to medium sized engineering and manufacturing companies. <br>
        The Fraction ERP system manages sales, inventory, purchasing, production scheduling, shipping and invoicing.</p>
    </div>

    <div class="row">
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="fa-solid fa-person-rays"></i></div>
          <h4>No Sales Team</h4>
          <p>We don't have a sales team! We are experienced in buying, implementing and fixing ERP systems. Talk to us about your manufacturing operation and see how Fraction ERP could help. No big sales pitch, just a straight forward chat about what we can do for your business.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="fa-solid fa-bolt"></i></div>
          <h4>Fraction Development</h4>
          <p>We have a long road map of development which relies on customer feedback. By listening to what our customers want to achieve, and our own road map we are constantly developing <a href="{{ '/product-updates.html' | relative_url }}">new features.</a></p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="fa-solid fa-cloud-arrow-up"></i></div>
          <h4>Cloud Reliability</h4>
          <p>Fraction is built using cloud technologies and hosted in a secure data centre. Gone are the days of hang-ups, glitches and slow responses. We do all the updates and backups for you so you can focus on running your business.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
          <h4>Based in the UK</h4>
          <p>Fraction ERP is based in the UK. We are passionate about creating a leading product in the ERP market for both UK and international customers. <br>
            <a href="{{ '/contact.html' | relative_url }}">Contact us</a> today to arrange a free online demo and start a 14 day trial.
          </p>
        </div>
      </div>
    </div>

    <!-- Begin SF Tag -->
    <div class="sf-root mt-5 container d-flex justify-content-center" data-id="3557809" data-badge="light-default" data-variant-id="sf" style="width:125px">
      <a href="https://sourceforge.net/software/product/Fraction-ERP/" target="_blank">Fraction ERP Reviews</a>
    </div>
    <script>(function () { var sc = document.createElement('script'); sc.async = true; sc.src = 'https://b.sf-syn.com/badge_js?sf_id=3557809&variant_id=sf'; var p = document.getElementsByTagName('script')[0]; p.parentNode.insertBefore(sc, p); })();</script>
    <!-- End SF Tag -->
  </div>
</section><!-- End Services Section -->

<!-- ======= Our Story Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Our Story</h2>
    </div>

    <div class="col-md-8 offset-md-2">
      <h4>The Beginning</h4>
      <p>
        Patrick is a mechanical engineer and entrepreneur who is used to running his own manufacturing businesses.
        Frustrated with limitations of the ERP system where he worked, he started looking at building custom made
        tools to run production management. A corner stone of the new tool would be the ability to manage
        scheduling by workcentre and operator capacity simultaneously.
        <br><br>
        In 2015, Patrick met Junzi and together they developed a simple production management system. Within 8
        months, the new system helped to increase output by 10%. On time delivery went from 50% to 90% and overdue
        orders fell by 95%. The original version is still in use today!
        <br><br>
        Junzi is an Aerospace Scientist and the chief of technologies behind Fraction ERP. He holds a PhD in
        Aerospace Engineering and has been working with complex data systems for many years. What he enjoys most
        is to make complex things simple to use.
        <br><br>
      </p>

      <h4>"I Have an Idea!"</h4>
      <p>
        After leaving employment and becoming a full-time entrepreneur, Patrick believed there something special
        in the original software tool and wanted to take it further and develop a complete ERP system.
        <br><br>
        After knowing each other for some years, the original tool was demonstrated to Giles. A Chartered
        Engineer, he has spent a large part of his life untangling ERP and MRP problems for many different
        companies. He now runs his own business as a manufacturing consultant, helping companies increase
        turnover, profit and on time delivery. He has seen it all when it comes to ERP problems! The demo was a
        success, so in 2020 the team came together to develop build a complete ERP system on the existing
        framework.
        <br>
      </p>

      <h4>Fraction ERP</h4>
      <p>
        Development took less than a year to build the initial ERP system for testing. The focus was to create
        an effective ERP system for small to medium sized manufacturing companies. Patrick had also set-up a new
        manufacturing company in 2018 so this became the test bed for Fraction ERP. Late in 2020, Fraction ERP
        Ltd was formed and early 2021 we had our first paying customers.
        <br><br>
      </p>

      <h4>The Future</h4>
      <p>
        Our aim is to create intuitive and effective software that creates a strong return on investment for our
        clients. Fraction ERP is always in development and has an exciting road map ahead. Our ambition is to
        become an established ERP provider for engineering and manufacturing companies around the world.
      </p>
    </div>
  </div>
</section><!-- End Our Story Section -->
