---
layout: page
title: Simple ERP system from Fraction ERP
description: Learn how a simple ERP system works. Save time and money on your next ERP system.
keywords: simple ERP system, Fraction ERP, manufacturing ERP system
redirect_from:
  - /simple-erp-demo-video.php
---

<section class="inner-page">
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h1>Simple ERP for Manufacturers: 5-Minute Demo Video</h1>
      </div>


      <div class="container text-center">

        <div class="info">

          <div class="address">
            <p>
              Do you want to see a <a href="{{ '/simple-erp-system/' | relative_url }}">simple ERP system</a> in action?<BR>
Below is a walk through for Fraction ERP (approximately 18 minutes); watch how to use Fraction ERP in a manufacturing business.<BR>
A simple ERP system reduces the implementation time, saves on training costs, reduces mistakes and gets you up and running quicker.</p>
          </div>
          
          <div class="container mt-3" id="simple-erp-demo-video">
            <div style="padding:56.25% 0 0 0;position:relative;">
            <iframe
            src="https://player.vimeo.com/video/1051301140?=5b864a9d0b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
            frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
            style="position:absolute;top:0;left:0;width:100%;height:100%;"
            title="Fraction ERP - Full Video Tour"></iframe></div>
        <script src="https://player.vimeo.com/api/player.js"></script>
      </div>
        </div>
      </div>
    </div>
  </section>


  <section id="services" class="skills-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Book an Online Demo</h2>
      </div>

      <div class="container col-10 col-md-6 col-lg-4 mb-4">

        {% include forms/hubspot-content.html
          target="simple-video-demo-request-form"
          form_id="072de23b-0398-4bb2-85b6-c88115fe276b"
          lead_source_detail="Simple ERP Demo Video page"
          redirect_url="/success/"
        %}
      </div>
  </section>

  <section class="inner-page">
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
<h2>Avoid ERP Pitfalls Before They Cost You!</h2>
          <p>Don't let common mistakes derail your ERP project. Download our <b>FREE ERP Implementation Guide</b> today and get practical strategies to save time, cut costs, and ensure success.</p>

        </div>

        <div class="container col-md-4  mt-5">
                        
          {% include forms/hubspot-content.html
            target="simple-video-implementation-guide-form"
            form_id="4a432a7b-16c2-4734-8a20-3c2b4af74246"
            lead_source_detail="Downloaded: ERP Implementation Guide - Simple demo video page"
            redirect_url="/lead-magnet-success/"
          %}
        </div>
</section>
